.section img {
  width: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 9em;
  border-radius: 1em;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.sections-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 30em;
  position: absolute;
  left: 190px;
  top: 10px;
  z-index: 10;
}

.section:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: -7px 10px 30px 3px rgba(11, 11, 11, 0.3);
  transition: all 0.3s ease;
}
