@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Spectral", serif;
}

.animation-up:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  transform: translateY(-3px);
}

.transition {
  transition: all 0.3s ease;
}

.btn {
  border: none;
  border-radius: 1em;
  padding: 0.5em 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-green {
  background: linear-gradient(180deg, #8ff831, #51cf31, #2cdd00);
  color: #086d19;
  font-weight: bolder;
}

.btn-orange {
  background: linear-gradient(180deg, #facd6a, #ffc137, #eba859);
  color: #804e03;
  font-weight: bolder;
}

.btn-blue {
  background: linear-gradient(180deg, #6de5ed, #09bdbd, #009b9b);
  color: #005766;
  font-weight: bolder;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
