.builder-container {
  display: flex;
  margin: 1em;
}

.builder-sidebar {
  max-width: 20%;
}

.builder-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.builder-heading {
  display: flex;
  justify-content: flex-end;
}
