.file img {
  max-width: 10em;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 1em;
  min-width: 15em;
}

.file h5 {
  padding: 1em;
}

.files {
  display: flex;
  gap: 1em;
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-top: 1em;
}

.files-container {
  padding: 2em;
}

.page-container {
  background: grey;
  height: 100vh;
}

.files-heading {
  display: flex;
  justify-content: space-between;
  margin: 0em 2em;
  align-items: center;
}
