.builder-container {
  display: flex;
}

.builder-container .side-container {
  width: 20%;
}

.builder-container .main-container {
  width: 100%;
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
