.profile-container {
  background: var(--darker-background);
  height: 100vh;
}

.documents-heading {
  color: white;
}

.documents {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.documents-container {
  padding: 1em;
}

.create-new {
  background-color: #f5f5f5;
  width: 15em;
  height: 20em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-new:hover {
  background: var(--hover-orange);
  color: white;
}
