.builder-container {
  display: flex;
  min-height: 100vh;
}

.side-container {
  flex: 0 0 15%;
  background: grey;
  position: sticky;
  top: 0;
  height: 100vh;
}

.body-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-buttons {
  padding: 2em 1em;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  width: 100%;
}

.cv-container {
  border: 1px dashed grey;
  width: 80%;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.side-container {
  padding: 1em;
}

.cv-name {
  color: white;
}

.cv-name input {
  padding: 0.5em 1em;
  border: 1px solid white;
  border-radius: 1em;
  background: inherit;
  margin-top: 10px;
  color: white;
}

.cv-name input:focus {
  border: 2px solid orange;
  outline: none;
}
