.build-page-container {
  display: flex;
}

.side-container {
  height: 100vh;
  background: grey;
  padding: 1em;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em;
}

.builder-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cv-controllers {
  display: flex;
  justify-content: flex-end;
}

.builder-container {
  border: 1px dashed black;
  margin-top: 1em;
  border-radius: 2em;
  background: rgba(128, 128, 128, 0.154);
  padding: 2em;
}
