.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #fff;
  color: #333;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 20em;
  overflow: hidden;
  opacity: 0;
  animation: fadeInOut 5s forwards;
  font-family: sans-serif;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.notification.success .notification-header {
  background-color: #22c55e;
}

.notification.error .notification-header {
  background-color: #ef4444;
}

.notification-header span {
  cursor: pointer;
  font-weight: bold;
  padding: 0 0.5rem;
}

.notification-text {
  padding: 0.75rem 1rem;
}

.notification-text p {
  margin: 0;
  font-size: 0.95rem;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
