/* ============================== */

.controllers-container {
  background: transparent;
  position: relative;
  transition: background 0.3s ease;
  padding: 1em;
  border-radius: 1em;
}

.controllers-container:hover {
  background: rgba(255, 166, 0, 0.259);
}

.controller-buttons {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
  gap: 1em;
}

.controllers-container:hover .controller-buttons {
  opacity: 1;
  pointer-events: auto;
}

.controller-buttons button {
  background: transparent;
  border: none;
  font-size: 2em;
}

.controller-buttons button:hover {
  cursor: pointer;
}

/* ============================== */

.add-more-button {
  background: orange;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  width: 8em;
  border-radius: 1em;
  height: 2em;
}

.add-more-button:hover {
  cursor: pointer;
}

.remove-entry {
  width: 2.5em;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.5em 1em;
}

.remove-entry:hover {
  cursor: pointer;
}
