.select-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.select-container .options {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.select-container div h2 {
  padding: 2em;
  border: 1px solid grey;
  border-radius: 1em;
}
