.terra-education,
.terra-work {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.terra-education .education-details,
.terra-work .work-details {
  display: flex;
  justify-content: space-between;
}

.terra-education .education-description ul,
.terra-work .work-description ul {
  margin: 0;
  padding-left: 1em;
}

.terra-soft-skills,
.terra-technical-skills {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.terra-soft-skills .skills,
.terra-technical-skills .skills {
  display: flex;
  gap: 10px;
}

.terra-soft-skills .skills p,
.terra-technical-skills .skills p {
  background: pink;
  padding: 0.5em 1em;
  border-radius: 50% / 50px;
}
